
#root {
	background-image: url(./images/simon-fitall-533515-unsplash.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%
}
/*home page header*/
.home-header {
	font-family: 'Unica One', cursive;
	font-size: 75px;
	font-weight: 12px;
	position: relative;
	top: -250px;
}
/*home page body text*/
.home-body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 18px;
	position: relative;
	top: -250px;
}

#loginScreen {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:400px;
	height:800px;
}
/*Card in middle for the quizzes*/
#otherQuizzes {
	
	background-color: rgb(226,215,211);
	margin-bottom: 5%;
   box-shadow: 8px 8px 12px rgb(108,117,125);
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:500px;
	height:800px;
	opacity: .94;
}

#singleQuiz{
	width:300px;
	background-color: darkgrey;
	border-style:solid;
	border-width:2px;
	border-color:grey;
	border-radius: 10px;
}
/*navbar*/
.navbar {
	background-color: rgb(226,215,211);
}

/*hover over logout */
.logout-link:hover {
	background-color:rgb(108,117,125);
	opacity: 0.8;
}
/*background image on users page*/
.black {
	background-image: url(./images/roman-kraft-669711-unsplash.jpg) !important;
}
/*button to sign up*/
.signup-btn {
background-color: black;
margin: 20px;
width: 40%;
position: relative;
top: -265px;

}
/*button to login to account*/
.login-btn {
	background-color: black;
	margin: 20px;
	width: 40%;
	position: relative;
	top: -265px;
}
/* button to create quiz*/
.create-btn {
	position: relative;
left: 150px;
margin: 20px;
width: 40%;

}
/*button to exterminate quiz*/
.exterminate-btn {
	position: relative;
	margin: 6px;
	position: relative;
	margin: 20px;
	/* width: 40%; */
	width: 300px;
	height: 40px;
}
/*button to check over quiz*/
.checkit-btn {
	position: relative;
	margin: 6px;
	position: relative;
	margin: 20px;
	/* width: 40%; */
	width: 300px;
	height: 40px;
}
.exterminate-btn, .checkit-btn {
	display:inline-block;
	
}
/* section for the view quiz modal*/
.view-quiz {
	font-family: 'Lato', sans-serif;
}
.view-quiz-title {
	font-size: 48px;
	text-align: center;
}
.view-quiz-question {
	font-size: 22px;
	margin: 12px;
    padding: 3px;
}
.take-quiz-question {
	font-size: 28px;
	margin:12px;
}
.take-quiz-title {
	text-align: center;
}
.take-quiz-title2 {
	text-align: center;
}