
#root {
	background-image: url(./images/simon-fitall-533515-unsplash.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%
}
/*home page header*/
.home-header {
	font-family: 'Unica One', cursive;
	font-size: 75px;
	font-weight: 12px;
	position: relative;
	top: -250px;
}
/*home page body text*/
.home-body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 18px;
	position: relative;
	top: -250px;
}

#loginScreen {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:400px;
	height:800px;
}
/*Card in middle for the quizzes*/
#otherQuizzes {
	padding:20px;
	background: linear-gradient(to right, #fcf7f3, #97c3f0, #a4c6e1, #9daec4, #006b9e) ;;
	margin-bottom: 5%;
   box-shadow: 8px 8px 12px rgb(108,117,125);
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	/* width:500px; */
	height:800px;
	opacity: .94;
}

#singleQuiz, #singleConnection{
	width:300px;
	background-color: darkgrey;
	border-style:solid;
	border-width:2px;
	border-color:grey;
	border-radius: 10px;
	padding: 4px;
	margin: 4.5px;
	width: 400px;
}
/*navbar*/
.navbar {
	background-color: rgb(108,117,125);
	width: 800px;
}
.navbar-title {
	color: white;
}
.logout-link {
	color: white;
}

/*hover over logout */
.logout-link:hover {
	background-color:rgb(0,107,158);
	opacity: 0.8;
}
/*background image on users page*/
.black {
	background-image: url(./images/jeremy-bishop-256584-unsplash.jpg) !important;
}
/*button to sign up*/
.signup-btn {
background-color: black;
margin: 20px;
width: 40%;
position: relative;
top: -265px;
}
/*button to login to account*/
.login-btn {
	background-color: black;
	margin: 20px;
	width: 40%;
	position: relative;
	top: -265px;
}
/* button to create quiz*/
.create-btn {
	position: relative;
left: 150px;
margin: 20px;
width: 40%;

}
/*button to exterminate quiz*/
.exterminate-btn {
	margin-left: 80px;
	width: 40%;
}
/*button to check over quiz*/
.checkit-btn {
	margin: 20px;
	width: 40%;
	
}
.exterminate-btn, .checkit-btn {
	display:inline-block;
	
}
/* section for the view quiz modal*/
.view-quiz {
	font-family: 'Lato', sans-serif;
}
.view-quiz-title {
	font-size: 48px;
	text-align: center;
}
.view-quiz-question {
	font-size: 22px;
	margin: 12px;
    padding: 3px;
}
/*take quiz modal*/
.take-quiz-question {
	font-size: 28px;
	margin:12px;
}
.take-quiz-title {
	text-align: center;
}
.take-quiz-title2 {
	text-align: center;
}
/*continue with user quiz btn*/
.continue-quiz-btn {
	margin: 20px;
	width: 40%;
	position:relative;
	left: 200px;
}
/*footer section*/
.container-footer {
	position:relative;
	bottom: -850px;
	left: 150px;

}
.footer-text {
	position:relative;
	left:150px;
	font-size: 24px;
	color: white;
}